PORT=5174
NODE_ENV=development


DATABASE_URL="postgresql://postgres:11111111@localhost:5432/skytracker"

AVIATIONSTACK_API_TOKEN=111111111111111111111111111
JWT_SECRET="SUPERSECRTEJWTKEY123455666443322"
VSEGPT_API_KEY=s6935eb1087f10d
TURNSTILE_SECRET_KEY=0x4N56527652735625376

# SMTP настройки для Gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=user@gmail.com       
SMTP_PASS=password         
SMTP_FROM=noreply@skytracker.com       


